20260302-194002/
baseline/dataset/
DiffImage_SD/
Diffimage-SD-emb/
Diffimage-SD-emb_2/
Diffimage-SD-emb-qwen/
DiffSynth-Studio/models/
DiffSynth-Studio/DiffImage/
DiffSynth-Studio/DiffImage-2/
DiffSynth-Studio/Diffimage-2-emb/
DiffSynth-Studio/Diffimage-emb-mini/
DiffSynth-Studio/DiffImage-mini
*/zlog
outputs/
*/retrieval_pool
*/z_retrieval_res
*/z_testdata
DiffSynth-Studio/z_testlora_img
DiffSynth-Studio/z_train_lora_log
DiffSynth-Studio/zcache
DiffSynth-Studio/zchecklora
DiffSynth-Studio/zdiffvec_src/avail_lora
DiffSynth-Studio/zdiffvec_src/output_folder
DiffSynth-Studio/zmerger
diffusers/
log/
Qwen_LoRA/
Qwen_LoRA_0/
sd_encoder/models
sd_lora/
SDv15-LoRA-DiffVec/
source_files/
source_files_0/
train_set_txtemb_10k/
zlog/
SD_adapter_metadata/sd_lora_1/exist_file_adapters.jsonl
SD_adapter_metadata/exist_file_adapters.
SD_adapter_metadata/sd_adapter_metadata.csv
# 忽略所有 .zip, .tar, .gz 压缩包
*.zip
*.tar.gz
*.pt
*.pth

# --- 忽略系统或IDE文件 ---
.DS_Store
.env
__pycache__/